<div class="container text-center">
    <h3>About Us</h1>
    <h3 class="lg-heading">We are DevMeet.</h3><br>
    <p>Our company focuses on creating an exclusive community for developers, investors, and entrepreneurs to meet.</p>
    <p>It is our mission to connect people in tech, with the power of tech. </p><hr><br>
    <p>Whether you are starting in your career or a seasoned professional in your field, this is the place for you.</p>
    <p>Sign up now, and join the world's largest network for people in tech developers, investors, and entrepreneurs.</p><br>

    <img src="images/community.png", class="responsive">
</div>